pyzmq
uvloop
setproctitle==1.1.10
configparser==3.5.0
aiohttp
asyncpg
git+https://github.com/bitaps-com/pybtc@no_analityca
colorlog
aiodns
aiosocks
geoip2
pympler

pycares>=4.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
